//- Configure the status bar.
meta(name="apple-mobile-web-app-status-bar-style", content="white")
meta(name="apple-mobile-web-app-capable", content="yes")

//- ICONS

//- iphone non-retina icon (iOS  7)
link(href="/gimages/ios/icon-57.png", sizes="57x57", rel="apple-touch-icon-precomposed")

//- ipad non-retina icon (iOS  7)
link(href="/gimages/ios/icon-72.png", sizes="72x72", rel="apple-touch-icon-precomposed")

//- ipad non-retina icon
link(href="/gimages/ios/icon-76.png", sizes="76x76", rel="apple-touch-icon-precomposed")
//- ipad non-retina icon (iOS  7)

//- iphone retina icon (iOS  7)
link(href="/gimages/ios/icon-114.png", sizes="114x114", rel="apple-touch-icon-precomposed")

//- iphone 6 Plus icon
link(href="/gimages/ios/icon-120.png", sizes="120x120", rel="apple-touch-icon-precomposed")

//- ipad retina icon (iOS  7)
link(href="/gimages/ios/icon-144.png", sizes="144x144", rel="apple-touch-icon-precomposed")

//- ipad retina icon
link(href="/gimages/ios/icon-152.png", sizes="152x152", rel="apple-touch-icon-precomposed")







//- STARTUP IMAGES

//- ipad retina portrait startup image
link(href="/gimages/ios/ipad-portrait.png", media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)", rel="apple-touch-startup-image")

//- ipad retina landscape startup image
link(href="/gimages/ios/ipad-landscape.png", media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)", rel="apple-touch-startup-image")

//- ipad non-retina portrait startup image
link(href="/gimages/ios/ipad1-portrait.png", media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait)", rel="apple-touch-startup-image")

//- ipad non-retina landscape startup image
link(href="/gimages/ios/ipad1-landscape.png", media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape)", rel="apple-touch-startup-image")

//- iphone 6 Plus portrait startup image
link(href="/gimages/ios/iphone6plus-portrait.png", media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)", rel="apple-touch-startup-image")

//- iphone 6 Plus landscape startup image
link(href="/gimages/ios/iphone6plus-landscape.png", media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)", rel="apple-touch-startup-image")

//- iphone 6 startup image
link(href="/gimages/ios/iphone6.png", media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image")

//- iphone 5 startup image
link(href="/gimages/ios/iphone5.png", media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image")

//- iphone  5 retina startup image
link(href="/gimages/ios/iphone4.png", media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image")

//- iphone  5 non-retina startup image
link(href="/gimages/ios/iphone3gs.png", media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)", rel="apple-touch-startup-image")