<div class="expense-icon" >
	<i class="fa {{ cat.icon }}"></i>
</div>
<input type="text" class="digit-input" ng-model="$parent.newExpenseAmount" readonly placeholder="Amount"/>
<div class="expense-digits noselect">
	<div class="digit" ng-click="$parent.addNewExpenseDigit('1')">1</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('2')">2</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('3')">3</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('4')">4</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('5')">5</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('6')">6</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('7')">7</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('8')">8</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('9')">9</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('.')">.</div>
	<div class="digit" ng-click="$parent.addNewExpenseDigit('0')">0</div>
	<div class="digit" ng-click="$parent.removeNewExpenseDigit()"><i class="fa fa-arrow-left"></i></div>
</div>
<div class="options">
	<!--<input type="checkbox" ng-model="newExpenseIncome" ng-true-value="true" ng-false-value="false" id="new-expense-income" /><label for="new-expense-income">Income</label></p>
	-->
	
	<datepicker date-format="yyyy-MM-dd" ">
  		<input ng-model="dateSelector" type="text"  class="date" placeholder="Date, default: Today"/>
	</datepicker>
</div>
<div class="actions">
	<button  class="btn btn-primary" ng-click="$parent.addExpense(cat.id, $parent.newExpenseAmount, newExpenseIncome, dateSelector)">OK</button>
	<button  class="btn" ng-click="$parent.closeDialogs()">Cancel</button>
</div>