<div animation-create="fadeIn" animation-destroy="fadeOut">
	<h3>{{ day.date | date }}</h3>
	<ul class="day-expense">
		<li ng-repeat="expense in day.expenses" ng-click="$parent.toggleMap()">
				<i ng-if="expense.latitude != 0 && expense.longitude != 0" class="fa fa-location-arrow details"></i>
				<i ng-if="expense.type == 2" class="fa fa-refresh details"></i>
				{{ expense.amount | number:2 }}
				<i class="cat {{ expense.category.icon }}"></i>
				<i class="fa fa-ellipsis-v option-button" ng-class="{'fa-rotate-90': showOptions}" ng-click="showOptions = !showOptions; showDelete = false; $parent.$parent.loadMap(expense, showOptions)"></i>
				<!--  options > -->
				<div animation-create="fadeInDown" class="options" ng-show="showOptions">
					
					<div ng-if="expense.latitude != 0 && expense.longitude != 0" class="map" data-id="{{ expense.id }}">

					</div>
					
					<p animation-create="fadeInDown" class="delete"  ng-show="!showDelete" ng-click="showDelete = !showDelete">Delete</p>
					
					<p animation-create="fadeInDown" ng-show="showDelete">Are you sure ?</p>
					<p animation-create="fadeInDown" ng-show="showDelete" class="confirmation"><span ng-click="showDelete = false" class="cancel">Cancel</span><span ng-click="$parent.$parent.delete(expense)" class="delete">OK</span>
				</div>
		</li>
	</ul>
	<hr />
	<p>{{ day.outcome | number:2 }}</p>
</div>

