# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

conf/user.conf

conf/launch.conf

logs

.cache-main

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.core.resources.prefs

.settings/org.scala-ide.sdt.core.prefs

*.cache-tests
.cache-tests
*.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.scala-ide.sdt.core.prefs