@()

<meta name="application-name" content="SpendSpentSpent"/>
<meta name="msapplication-TileColor" content="#2196F3"/>
<meta name="msapplication-square70x70logo" content="@routes.Assets.versioned("images/windows/tiny.png")"/>
<meta name="msapplication-square150x150logo" content="@routes.Assets.versioned("images/windows/square.png")"/>
<meta name="msapplication-wide310x150logo" content="@routes.Assets.versioned("images/windows/wide.png")"/>
<meta name="msapplication-square310x310logo" content="@routes.Assets.versioned("images/windows/large.png")"/>


<meta name="msapplication-notification" content="frequency=30; polling-uri=/Windows/tile;" />
