@(total: String)
<!-- square -->
<tile>
  <visual version="2">
    <binding template="TileSquare150x150Text01" fallback="TileSquareText01">
      <text id="1">@total</text>
      <text id="2">spent today</text>
    </binding>  
 

<!--  large -->

    <binding template="TileWide310x150Text01" fallback="TileWideText01">
      <text id="1">@total</text>
      <text id="2">spent today</text>
    </binding>  
  

<!-- XL Windows Desktop/tablet -->

    <binding template="TileSquare310x310Text01">
      <text id="1">@total</text>
      <text id="2">spent today</text>
    </binding>  
  </visual>
</tile>