spring:
  mvc:
    converters:
      preferred-json-mapper: jackson
  # fix sping boot 2.6 circular dependcies errors //TODO: fix those
  main:
    allow-circular-references: true
  servlet:
    multipart:
      max-file-size: 512MB

  datasource:
    url: ${DB_PATH:jdbc:postgresql://localhost:5432/sss}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver


  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    url: ${DB_PATH:jdbc:postgresql://localhost:5432/sss}
    user: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  ai:
    mcp:
      server:
        enabled: true
        type: sync
        name: sss-mcp-server
        protocol: streamable
        streamable-http:
          mcp-endpoint: /mcp



logging:
  level:
    org.springframework.boot.autoconfigure.flyway: DEBUG
    org.flywaydb: DEBUG
    org:
      jooq:
        tools:
          LoggerListener: DEBUG