.Expense {
  @flipDuration: 0.5s;

  .card {
    text-align: center;
    color: white;
    font-size: 20px;
    //width: 300px;
    margin: 10px auto;
    position: relative;
    transition: all @flipDuration;
    cursor: pointer;

    .modifiers {
      display: flex;
      align-content: center;
      justify-content: end;
      padding-top: 4px;

      i {
        display: block;
        margin-left: 15px;
      }
    }

    .cat {
      text-align: left;

      &:before {
        display: block;
        padding-top: 4px;
      }
    }

    .front {
      padding: 5px 15px;
      display: grid;
      grid-template-columns: 33% 33% 33%;

      .amount {
        flex-grow: 2;
      }
    }

    .front, .back {
      background-color: @accentColor;
      border-radius: @borderRadius;
      animation-duration: @flipDuration !important;
    }

    .back {
      backface-visibility: visible;
      transform: rotate3d(1, 0, 0, 180deg);

      .ExpenseLocation {
        margin-bottom: 5px;
      }

      .actions {
        margin: 0;
        padding: 5px;

        a {
          display: inline-block;
          width: 50%;
          text-align: center;
          border-radius: @borderRadius;
          transition: all 0.25s;

          &:hover {
            //background-color: @grey;
          }

          &.delete {
            color: red;
          }
        }
      }


      .note {
        display: flex;
        padding: 10px;

        i {
          margin: 0 10px;
          padding-top: 5px;
        }

        span {

        }
      }
    }

    &:hover {
      //transform: scale(1.2);
    }

    &.flip {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }

}