@* left Template File *@
@()
<div class="column animated" id="left-column" ng-controller="HistoryController">
	<p class="types" animation-create="fadeInDown">
		<a ng-click="changeType('Monthly')" class="history-type" ng-class="{'selected': type() =='Monthly'}">Monthly</a><a ng-click="changeType('Yearly')" class="history-type" ng-class="{'selected': type() =='Yearly'}">Yearly</a>
	</p>

	<category-history data="data "  index="key" ng-repeat="(key, data) in history">{{ key }}</category-history>
</div>