.column.animated#right-column(ng-controller="ExpenseController")
    select(animation-create="fadeInDown", ng-change="changeMonth(chosenMonth)", ng-model="chosenMonth")
        option(ng-repeat="month in months()", ng-selected="month == $parent.selectedMonth()") {{ month }}

    | {{ showMap }}
    div(animation-create="fadeInDown", class="map", ng-show="showMap") yo

    p.total(animation-create="fadeInDown")
        | Total:
        span {{ totalOutcome() | number: 2 }}
    expense-day(day="day", ng-repeat="day in expenses()")
