html(lang="en")
    head
        title SpendSpentSpent

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")

        include devices/apple

        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
        link(rel="shortcut icon", type="image/png", href="/images/favicon.png")
        link(rel="stylesheet", media="screen", href="/stylesheets/main.css")

    body(ng-app="ExpTrackerApp", ng-swipe-left="swipeLeft()", ng-swipe-right="swipeRight()")
        block content

        script( type="text/javascript", src="/javascripts/vendor/jquery-2.1.4.min.js")
        script( type="text/javascript", src="/javascripts/vendor/angular.min.js")
        script( type="text/javascript", src="/javascripts/vendor/angular-touch.min.js")
        script( type="text/javascript", src="/javascripts/vendor/chartist.min.js")
        script( type="text/javascript", src="/javascripts/vendor/angular-chartist.min.js")
        script( type="text/javascript", src="/javascripts/app.js")
        <!--  Services  -->
        script( type="text/javascript", src="/javascripts/services/ExpenseService.js")
        script( type="text/javascript", src="/javascripts/services/CategoryService.js")
        script( type="text/javascript", src="/javascripts/services/HistoryService.js")
        script( type="text/javascript", src="/javascripts/services/RecurringExpenseService.js")
        script( type="text/javascript", src="/javascripts/services/SettingsService.js")
        script( type="text/javascript", src="/javascripts/services/SessionService.js")
        script( type="text/javascript", src="/javascripts/services/ExpTrackerService.js")

        <!--  controllers -->
        script( type="text/javascript", src="/javascripts/controllers/CategoryController.js")
        script( type="text/javascript", src="/javascripts/controllers/ExpenseController.js")
        script( type="text/javascript", src="/javascripts/controllers/RecurringExpenseController.js")
        script( type="text/javascript", src="/javascripts/controllers/HistoryController.js")
        script( type="text/javascript", src="/javascripts/controllers/SettingsController.js")
        script( type="text/javascript", src="/javascripts/controllers/LoginController.js")

        <!--  directives -->
        script( type="text/javascript", src="/javascripts/directives/CategoryGrid.js")
        script( type="text/javascript", src="/javascripts/directives/ExpenseDay.js")
        script( type="text/javascript", src="/javascripts/directives/CategoryDialog.js")
        script( type="text/javascript", src="/javascripts/directives/ExpenseDialog.js")
        script( type="text/javascript", src="/javascripts/directives/CategoryHistory.js")
        script( type="text/javascript", src="/javascripts/directives/RecurringExpense.js")
        script( type="text/javascript", src="/javascripts/directives/RecurringExpenseAdd.js")
        script( type="text/javascript", src="/javascripts/directives/AnimationCreate.js")
        script( type="text/javascript", src="/javascripts/directives/AnimationDestroy.js")
        script( type="text/javascript", src="/javascripts/directives/StopEvent.js")
        script( type="text/javascript", src="/javascripts/directives/Settings.js")
        script( type="text/javascript", src="/javascripts/directives/Login.js")
        script( type="text/javascript", src="/javascripts/directives/LongPress.js")
