@(apiKey: String)

@main("SpendSpentSpent") {

<div id="columns">
@columns.left()
@columns.center()
@columns.right()
</div>


<settings ng-show="showSettings" animation-create="slideInUp" ng-controller="SettingsController" ></settings>

<login animation-create="slideInUp" ng-controller="LoginController" ></login>

<div id="footer">
	<i id="http-activity" class="fa fa-circle-o-notch fa-spin animated"></i>
	<span class="settings">
	 	<a ng-show="showSettings"class="logout"  animation-create="fadeIn" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
		<a ng-click="showSettings = !showSettings"><i class="fa fa-gear"></i></a>
	</span>
	<div class="page-marker">
		<i ng-click="swipeRight()" class="fa fa-chevron-left"></i>
		<i ng-click="swipeLeft()" class="fa fa-chevron-right"></i>
	</div>
</div>

	@if(!apiKey.equalsIgnoreCase("")){
		 <script async defer src="https://maps.googleapis.com/maps/api/js?key=@{apiKey}"> </script>
	}
}
