@(title: String)(content: Html)
@import devices._
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"  />
        
        @apple()
        
        @windows()
        
		<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.min.css")">
    </head>
    <body ng-app="ExpTrackerApp" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
        @content
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/jquery-2.1.4.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/angular-touch.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/chartist.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/angular-chartist.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <!--  Services  -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/ExpenseService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/CategoryService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/HistoryService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/RecurringExpenseService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/SettingsService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/SessionService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/ExpTrackerService.js")"></script>
        
        <!--  controllers -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/CategoryController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/ExpenseController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/RecurringExpenseController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/HistoryController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/SettingsController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/LoginController.js")"></script>
        
        <!--  directives -->
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/CategoryGrid.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/ExpenseDay.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/CategoryDialog.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/ExpenseDialog.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/CategoryHistory.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/RecurringExpense.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/RecurringExpenseAdd.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/AnimationCreate.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/AnimationDestroy.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/StopEvent.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/Settings.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/Login.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/LongPress.js")"></script>
    </body>
</html>
