@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.min.css")">
    </head>
    <body ng-app="ExpTrackerApp">
        @content
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/fastclick.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/angular-datepicker.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/chartist.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor/angular-chartist.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/ExpenseService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/CategoryService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/HistoryService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/services/ExpTrackerService.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/CategoryController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/CategoryGrid.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/ExpenseController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/ExpenseDay.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/controllers/HistoryController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/CategoryDialog.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/ExpenseDialog.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/CategoryHistory.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/AnimationCreate.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/directives/AnimationDestroy.js")"></script>
    </body>
</html>
