<div class="animated fadeIn">
	<h3>{{ day.date | date }}</h3>
	<ul class="day-expense">
		<li ng-repeat="expense in day.expenses">
			<div ng-if="expense.income" class="income">
				 {{ expense.amount | number:2 }} <i ng-style="{'background-color': '#{{ expense.category.color }}'}" class="fa {{ expense.category.icon }}"></i>
			</div>
			<div ng-if="!expense.income" class="outcome">
				 {{ expense.amount | number:2 }} <i ng-style="{'background-color': '#{{ expense.category.color }}'}" class="fa {{ expense.category.icon }}"></i>
			</div>
		</li>
	</ul>
	<hr />
	<p>{{ day.outcome | number:2 }}</p>
</div>
