<h3>{{ day.date | date }}</h3>
<ul class="day-expense">
	<li ng-repeat="expense in day.expenses">
		<div ng-if="expense.income" class="income">
			<i ng-style="{'background-color': '#{{ expense.category.color }}'}" class="fa {{ expense.category.icon }}"></i> {{ expense.amount | number:2 }}
		</div>
		<div ng-if="!expense.income" class="outcome">
			<i ng-style="{'background-color': '#{{ expense.category.color }}'}" class="fa {{ expense.category.icon }}"></i> {{ expense.amount | number:2 }}
		</div>
	</li>
</ul>
<hr />
<p>{{ day.outcome | number:2 }}</p>
