.AddCategoryDialog {
  background-color: white;
  width: 100%;
  max-width: @dialogwidth;
  position: relative;
  z-index: 11;
  margin: 10px auto;
  box-shadow: 0 0 240px #000;

  animation-name: category-dialog-bounce-in;
  animation-duration: 0.15s;
  border-radius: 5px;

  .categories {
    background-color: @accentColor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 300px;

    .loading-indicator {
      padding-top: 50px;
    }
  }

  .actions {
    text-align: right;
    padding: 5px 20px;
    a {
      display: inline-block;
      margin: 0 5px;
      font-size: 20px;
      cursor: pointer;
      &.enabled {
        color: @accentColor;
      }

    }
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 33%;

    animation-name: expense-loading-fadein;
    animation-duration: 0.25s;
  }

}

@keyframes category-dialog-bounce-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}